.cart-item{
    /* border: 1px solid red; */
    width: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.cart-item-texts{
    /* border: 1px solid blue; */
    width: 50%;

}

.cart-item-title{
    /* border: 1px solid green; */
    text-align: left;
    font: normal normal normal 12px/15px Nunito;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}

.cart-item-numbers{
    /* border: 1px solid black; */
    text-align: left;
    font: normal normal bold 12px/15px Nunito;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}

.cart-item-cancel{
    /* border: 1px solid purple; */
    text-align: center;
    font-size: 16px/19px;
    letter-spacing: 0px;
    color: #FF5D54;
    opacity: 1;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.cart-item-cancel:hover{
    cursor: pointer;
}

/* .cart-item-quantity{
    margin-left: 4px;
    background: none;
    text-align: left;
    font: normal normal bold 12px/15px Nunito;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
} */
