.product-wrapper{
    width: 144px;
    height: 156px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
}

.product-img{
    display: grid;
    align-self: center;
    width: auto;
    height: auto;
    max-width: 96px;
    max-height: 96px;
    box-shadow: none !important;
}

.product-name{
    text-align: center;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}

.product-price{
    text-align: center;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}